section {
      padding-top: 24;
      padding-bottom: 24;
}
body {
      color: #333333;
      margin: 0px;
      display: block;
    }
//header設定
header{
      background-color: #333333;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      height: 20px;
    }
header{
      potision: sticky;
      top: 0px;
}
header ul{
      margin: 0px;
      height: 20px;
    }
header ul li {
      display: inline-block;
      padding: 0px 20px;
    }
header ul li a {
      color: #FFFFFF;
      font-size: 20px;
      text-decoration: none;
      text-align: end;
    }

//about設定
.jikosyo {
      margin: 0 auto;
}
.about {
      display: flex;
      padding-left: 48;
      padding-right: 48;
}
.about .img {
      width: 296px;
      height: 296px;
      margin: 0px;
      padding: 0px;
      position: relative;
      object-fit: contain;
}
.about .right {
      margin: 0px 0px 0px 20px;
      padding: 0px;
}
.about .title {
      margin: 0px;
      padding: 0px;
      font-weight: bold;
      font-size: 25px;
}
.about .text {
      margin: 10px 0px 0px;
      padding: 0px;
}
.about.text p {
      font-size: 20;
}
