body {
      color: #333333;
      margin: 0;
      text-align: start;
    }

header{
      background-color: #333333;
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

header ul{
      margin: 0;
    }

header ul li {
      display: inline-block;
      padding: 0 20px;
    }

header ul li a {
      color: #FFFFFF;
      font-size: 20px;
      text-decoration: none;
    }

.about_img {
    display: block;
    width: 100%;
    height: auto
}
