section {
      padding-top: 24;
      padding-bottom: 24;
}
body {
      color: #333333;
      margin: 0px;
      display: block;
    }

header{
      background-color: #333333;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      height: 20px;
    }
header{
      potision: sticky;
      top: 0px;
}
header ul{
      margin: 0px;
      height: 20px;
    }
header ul li {
      display: inline-block;
      padding: 0px 20px;
    }
header ul li a {
      color: #FFFFFF;
      font-size: 20px;
      text-decoration: none;
      text-align: end;
    }

//about設定
section {
      display: block;
      margin-left: auto;
      margin-right: auto;
}
.about {
      display: flex;
      margin: 0 auto;
}
.about .img {
      width: 500px;
      height: 500px;
      margin: 0px;
      padding: 0px;
      position: relative;
      object-fit: contain;
      display: block;
}
.about .right {
      margin: 0px 0px 0px 20px;
      padding: 0px;
}
.about .title {
      margin: 0px;
      padding: 0px;
      font-weight: bold;
}
.about .text {
      margin: 10px 0px 0px;
      padding: 0px;
      font-size: 40;
}

